@import "../../scss/";

.buttonMain {
background-color: $accentColor;
padding: 12px 99.5px;
color: $btnTextColor;
font-weight: $fontWeightSemiBold;
line-height: calc(20/14);
border-radius: 12px;

transition-property: background-color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;

&:hover {
        background-color: $btnHoverColor;
    }
}

.searchBtn {
    @extend .buttonMain;
    padding: 14px 44px;
}

.loadMoreBtn {
    background-color: transparent;
    color: $accentColor;
    font-size: $bigFontSize;
    font-weight: $fontWeightMedium;
    line-height: calc(24/16);
    text-decoration: underline;
}