$fontFamily: "Manrope", sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;

$mainFontSize: 14px;
$bigFontSize: 16px;
$smallFontSize: 12px;

$mainFontColor: #121417;
$accentColor: #3470FF;
$btnHoverColor: #0B44CD;
$btnTextColor: #ffffff;
$selectorBgColor: #F7F7FB;

$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);