@import "../../scss/";

.overlay {
    position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(18, 20, 23, 0.5);
        z-index: 1200;
}

.modal {
    width: 541px;
    min-height: 752px;
    padding: 40px;
    position: absolute;
    background-color: #fff;
    border-radius: 24px;
}

.rentalCarBtn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.rentalCarBtn:hover {
    background-color: #0056b3;
}