@import "../../scss/";

.container {
    max-width: 1184px;
    margin: 0 auto;
}

.header {
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid $mainFontColor;
}

.nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navLink {
    font-size: $bigFontSize;
    font-weight: $fontWeightSemiBold;

    &:hover {
        color: $accentColor;
    }
}

.active {
    @extend .navLink;
    color: $accentColor;
}