@import "../../scss/";

.container {
    position: relative;
    width: 274px;
    height: 426px;
}

.img {
    width: 274px;
    height: 268px;
    border-radius: 14px;
    object-fit: cover;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
}

.favoriteIcon {
    width: 18px;
    height: 18px;
    fill: $btnTextColor;
    opacity: 80%;

&:hover {
    fill: $accentColor;
}
}

.favoriteBtn {
    position: absolute;
    right: 14px;
    top: 14px;
    background: transparent;
}

.favoriteIconActive {
    @extend .favoriteIcon;
    fill: $accentColor;
}