@import "../../scss/";

.container {
    position: relative;
    width: 274px;
    height: 426px;
}

.img {
    width: 274px;
    height: 268px;
    border-radius: 14px;
    object-fit: cover;
    margin-bottom: 14px;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
}

.favoriteIcon {
    width: 18px;
    height: 18px;
    fill: $btnTextColor;
    opacity: 80%;

&:hover {
    fill: $accentColor;
}
}

.favoriteBtn {
    position: absolute;
    right: 14px;
    top: 14px;
    background: transparent;
}

.favoriteIconActive {
    @extend .favoriteIcon;
    fill: $accentColor;
}

.make {
    font-size: $bigFontSize;
    line-height: calc(24/16);
    font-weight: $fontWeightMedium;
    margin-bottom: 8px;
}

.model {
    color: $accentColor;
}

.cardInfoList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 12px;
    width: 270px;
    margin-bottom: 28px;
}

.cardInfoListItem {
    font-size: $smallFontSize;
        line-height: calc(18/12);
        opacity: 50%;
        position: relative;
}

.cardInfoListItem:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    width: 1px;
    height: 16px;
    background-color: $mainFontColor;
    opacity: 10%;
}